<body>
      <!--Section-->
      <section class="items" id="vende">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-6">
                <img src="/assets/img/custom-vende.png"id="img-vende">
              </div>
              <div class="col-xl-5 texto-vende">
                <section>
                  <h1>¡Vende tus productos!</h1>
                  <p>
                    Con Customize puedes crear un ecommerce para tu empresa sin importar el producto que vendas. <br> Además, puedes personalizarlo a tu gusto.
                  </p>
                </section>
              </div>
            </div>
          </div>
      </section>
      <section class="items" id="servicios">
        <h1 class="header-item" style="color: white">Algunos servicios que podemos ofrecerte</h1>
        <div class="container">
          <div class="row servicios-item">
            <div class="card col-xl-3" style="height: 300px;">
              <div class="card-body">
                <div class="service-icon">
                  <fa-icon [icon]="faTools"></fa-icon>
                </div>
                <h3>Tienda personalizada</h3>
              </div>
            </div>
            <div class="card col-xl-3" style="height: 300px;">
              <div class="card-body">
                <div class="service-icon">
                  <fa-icon [icon]="faCode"></fa-icon>
                </div>
                <h3>Maneja varios sitios web</h3>
              </div>
            </div>
            <div class="card col-xl-3" style="height: 300px;">
              <div class="card-body">
                <div class="service-icon">
                  <fa-icon [icon]="faImages"></fa-icon>
                </div>
                <h3>Fotografías de productos</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="items" id="planes">
        <h1 class="header-item">Conoce los planes de suscripción que tenemos para ti</h1>
        <div class="container">
          <div class="row">
            <div class="col-xl-3 plan">
              <h1> Plan <br> Básico </h1>
              <span class="precio"> <strong>L 250</strong>/mes </span>
              <section>
                <span>Incluye:</span> <br>
                <div style="display: flex">
                  <span class="arrow col-2"> > </span>
                  <p class="text">1 página web personalizable</p>
                </div>
                <div style="display:flex">
                  <span class="arrow col-2"> > </span>
                  <p class="text">5 productos</p>
                </div>
              </section>
              <a class="btn-adquirir-ya">Adquirir ya</a>
            </div>
            <div class="col-xl-3 plan">
              <h1> Plan <br> Premium </h1>
              <span class="precio"> <strong>L 600</strong>/mes </span>
              <section>
                <span>Incluye:</span> <br>
                <div style="display: flex">
                  <span class="arrow col-2"> > </span>
                  <p class="text">3 páginas web personalizables</p>
                </div>
                <div style="display:flex">
                  <span class="arrow col-2"> > </span>
                  <p class="text">8 productos c/u</p>
                </div>
              </section>
              <a class="btn-adquirir-ya">Adquirir ya</a>
            </div>
            <div class="col-xl-3 plan">
              <h1> Plan <br> Deluxe </h1>
              <span class="precio"> <strong>L 950</strong>/mes </span>
              <section>
                <span>Incluye:</span> <br>
                <div style="display: flex">
                  <span class="arrow col-2"> > </span>
                  <p class="text">5 páginas web personalizables</p>
                </div>
                <div style="display:flex">
                  <span class="arrow col-2"> > </span>
                  <p class="text">10 productos c/u</p>
                </div>
              </section>
              <a class="btn-adquirir-ya">Adquirir ya</a>
            </div>
          </div>
        </div>
        <p class="nota">
          *Todos los planes incluyen una página para que los usuarios pueda iniciar sesión y realizar compras al sitio*
        </p>
      </section>
</body>
