<body>
      <!--Section-->
      <section class="items" id="vende">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-6">
                <img src="/assets/img/custom-vende.png"id="img-vende">
              </div>
              <div class="col-xl-5 texto-vende">
                <section>
                  <h1>¡Vende tus productos!</h1>
                  <p>
                    Con Customize puedes crear un ecommerce para tu empresa sin importar el producto que vendas. <br> Además, puedes personalizarlo a tu gusto.
                  </p>
                </section>
                <a routerLink="/vende" class="ver-mas-btn">Ver más</a>
              </div>
            </div>
          </div>
      </section>
      <section class="items" id="servicios"></section>
      <section class="items" id="planes"></section>
      <section class="items" id="afiliados"></section>
</body>
