a{
    cursor: pointer;
}
.arrow{
    width: 20px;
    color: #94d12e;
    font-weight: 700;
    font-family: 'Raleway black';
}
body{
    background-color: #00bbee;
    margin: 0;
}


.btn-adquirir-ya{
    text-decoration: none;
    background-color: #94d12e;
    color: white;
    font-family: 'Raleway semibold';
    padding: 10px 20px;
    border-radius: 30px;
}

.container{
    margin-top: 2rem;
}

.items{
    min-height: 100vh;
    padding: 4rem 2rem;
}

.navbar-nav{
    margin-left: auto !important;
}

.nav-link{
    color: white !important;
    font-family: "Roboto";
}

#logo{
    width: 200px;
}

.header-item{
    color: white;
    font-family: 'Raleway bold';
}

.items{
    min-height: 100vh;
    padding: 3rem 2rem;
}

#img-inicio, #img-vende, #img-compra{
    width: 100%;
    margin-top: 5%;
}

#img-vende{
    margin-left: 7%;
}

#img-compra{
    bottom: 0;
}

.nota{
    margin-top: 20px;
    color: white;
}

#planes{
    background-image: url("/assets/img/decos4.png");
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Raleway medium';
}

.plan{
    background-color: white;
    border-radius: 30px;
    border: transparent;
    padding: 25px 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Raleway medium';
}

.plan h1{
    color: #94d12e;
    font-family: 'Raleway black';
    font-size: 1.7rem;
}

.plan section{
    height: 200px;
    margin: 15px 5px;
    text-align: left;
    font-size: 1.2rem;
}


.precio{
    font-family: 'Raleway medium';
    font-size: 2rem;
}

.precio strong{
    font-family: 'Raleway black';
    font-size: 3rem;
}

#register{
    background-color: white;
    color: #94d12e !important;
    padding: 8px 15px;
    border-radius: 30px;
}

#servicios, #afiliados{
    background-position: top;
    background-image: url("/assets/img/decos3.png");
    background-repeat: no-repeat;
}

.text{
    width: 150px
}

.texto-vende{
    margin:auto;
    font-family: "Raleway medium";
    font-size: x-large;
    color: white;
    padding-left: 5%;
}


.texto-vende h1{
    font-family: "Raleway bold";
    font-size: 50px;
}

#vende{
    background-image: url("/assets/img/decos5.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.ver-mas-btn{
    background-color: #94d12e;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}
