#content{
    min-height: 100vh;
    padding-top: 5.5rem;
}


nav{
    background-color: transparent !important; 
    position: fixed !important;
    z-index: 100;
    width: 100%;
}

.navbar{
    background-color: rgb(41, 41, 43) !important;
}

#navbarNav{
    margin-left: auto;
}


.nav-link{
    color: white !important;
    font-family: 'Roboto' !important;
}

.nav-link:hover{
    cursor: pointer;
    color: #00bbee !important;
}

.navbar-toggler{
    color: white !important;
}

#sidebar{
    margin-left:-20rem;
    padding-left: 0px !important;
}

.sidebarVisible{
    margin-left:0px !important;
    transition: ease-in-out !important;
}

.sidebarVisible{
    margin-left:-20px !important;
    transition: ease-in-out !important;
}
