#content{
    min-height: 100vh;
    padding-top: 5.5rem;
    margin-left: auto;
    margin-right: auto;
}

.collapse-btn{
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    font-size: x-large !important;
    margin-left:10px;
}


nav{
    background-color: transparent !important; 
    width: 100%;
    position: fixed !important;
    z-index: 100;
}

.navbar{
    background-color: rgb(41, 41, 43) !important;
}

#navbarNav{
    margin-left: auto;
}


.nav-link{
    color: white !important;
    font-family: 'Roboto' !important;
}

.nav-link:hover{
    cursor: pointer;
    color: #00bbee !important;
}

.navbar-toggler{
    color: white !important;
}

#sidebar{
    margin-left: 0 !important;
    padding-left: 0px !important;
}

.show{
    transition-timing-function: ease;
}
