<nav class="navbar navbar-expand-lg">
    <button type="button" (click)="isMenuCollapsed = true">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>  
                CERRAR SESIÓN</a>
            </li>
          </ul>
      </div>
  </nav>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-xl-2 collapse navbar-collapse" id="sidebar" [ngClass]="{'sidebarVisible': isMenuCollapsed == true, 'sidebarNoVisible': isMenuCollapsed!=true}">
            <app-sidebar (onCatSeleccionada)="categoriaSeleccionada($event)"></app-sidebar>
        </div>
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="content">
            <div id="vista-admins" [ngClass]="{'visible': regionVisible == 'administradores', 'noVisible': regionVisible!='administradores'}">
                <app-admins></app-admins>
            </div>
            <div id="vista-empresas" [ngClass]="{'visible': regionVisible == 'empresas', 'noVisible': regionVisible!='empresas'}">
                <app-empresas></app-empresas>
            </div>
            <div id="vista-planes" [ngClass]="{'visible': regionVisible == 'planes', 'noVisible': regionVisible!='planes'}">
                <app-planes></app-planes>
            </div>
            <div id="vista-plantillas" [ngClass]="{'visible': regionVisible == 'plantillas', 'noVisible': regionVisible!='plantillas'}">
                <app-plantillas></app-plantillas>
            </div>
            <div id="vista-configuraciones" [ngClass]="{'visible': regionVisible == 'configuraciones', 'noVisible': regionVisible!='configuraciones'}">
                <app-configuraciones></app-configuraciones>
            </div>
        </div>
    </div>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a>
  
     Step 3: Toggle the value of the property when the toggler button is clicked. 
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
  
     Step 2: Add the ngbCollapse directive to the element below.
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          Step 4: Close the menu when a link is clicked. 
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
        </li>
      </ul>
    </div>
  </nav>-->
