
<nav class="navbar navbar-expand-lg" id="navbar">
      <div id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" (click)="logout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>  
                CERRAR SESIÓN</a>
            </li>
          </ul>
      </div>
      
  </nav>

  <!--<div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 collapse" id="sidebar" #collapse="ngbCollapse" [ngbCollapse]="isCollapsed">
                <app-sidebar (onCatSeleccionada)="categoriaSeleccionada($event)"></app-sidebar>
            </div>-->
    <div class="container-fluid">
        <div class="row"> 
            <nav class="navbar navbar-expand-lg col-xl-2 col-lg-3" id="sidenav">
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
                <div  [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="sidebar">
                    <app-sidebar (onCatSeleccionada)="categoriaSeleccionada($event)"></app-sidebar>
                </div>
            </nav>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12" id="content">
                    <div id="vista-admins" [ngClass]="{'visible': regionVisible == 'administradores', 'noVisible': regionVisible!='administradores'}">
                        <app-admins></app-admins>
                    </div>
                    <div id="vista-empresas" [ngClass]="{'visible': regionVisible == 'empresas', 'noVisible': regionVisible!='empresas'}">
                        <app-empresas></app-empresas>
                    </div>
                    <div id="vista-planes" [ngClass]="{'visible': regionVisible == 'planes', 'noVisible': regionVisible!='planes'}">
                        <app-planes></app-planes>
                    </div>
                    <div id="vista-plantillas" [ngClass]="{'visible': regionVisible == 'plantillas', 'noVisible': regionVisible!='plantillas'}">
                        <app-plantillas></app-plantillas>
                    </div>
                    <div id="vista-configuraciones" [ngClass]="{'visible': regionVisible == 'configuraciones', 'noVisible': regionVisible!='configuraciones'}">
                        <app-configuraciones></app-configuraciones>
                    </div>
                </div>
        </div>
    </div>



