#content{
    min-height: 100vh;
    padding: 5.5rem 1rem 0 1rem;
    margin-left: auto !important;
}

.collapse-btn{
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    font-size: x-large !important;
    margin-left:10px;
}


nav{
    background-color: transparent !important; 
    width: 100%;
    position: fixed;
    z-index: 1200;
}

.navbar{
    background-color: rgb(41, 41, 43) !important;
}

#navbarNav{
    margin-left: auto;
}


.nav-link{
    color: white !important;
    font-family: 'Roboto' !important;
}

.nav-link:hover{
    cursor: pointer;
    color: #00bbee !important;
}

.navbar-toggler{
    color: white !important;
}

#sidebar{
    /*margin-left: -15rem;*/
    width: 15rem;
    margin-left: 0%;
    padding-left: 0%;
}

#sidenav{
    width: 15rem;
}
/*
@media (max-width: 768px) {
  #sidebar {
    position: fixed !important;
    z-index: 1100 !important;
  }

}

*/
