.btn-outline-primary{
    background-color: transparent;
    color:#00bbee;
    border: 1px solid #00bbee;
}

.btn-outline-primary:hover{
    color: white;
    background-color: #00bbee;
}

.button{
    border: 1px solid transparent;
}

.buttons{
    text-align: right;
    margin-bottom:5px;
    margin-right: 5px;
}

#content{
    font-family: 'Raleway medium';
}

h1{
    font-family:  'Raleway semibold';
    color: #00bbee;
}