/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "Raleway medium";
    src: url('/assets/fonts/Raleway/static/Raleway-Medium.ttf')
}

@font-face{
    font-family: "Raleway bold";
    src: url('/assets/fonts/Raleway/static/Raleway-Bold.ttf')
}

@font-face{
    font-family: "Raleway semibold";
    src: url('/assets/fonts/Raleway/static/Raleway-SemiBold.ttf')
}

@font-face{
    font-family: "Raleway black";
    src: url('/assets/fonts/Raleway/static/Raleway-Black.ttf')
}

@font-face{
    font-family: "Roboto";
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf')
}

.ver-mas-btn{
    background-color: #94d12e;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}

.ver-mas-btn:hover{
    background-color: transparent;
    border: 3px solid #94d12e;
}

a{
    text-decoration: none !important;
}

a:hover{
    color:white !important;
}