<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="isSidebarCollapsed =! isSidebarCollapsed">
        <span class="toggler-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
      </button>
    <a class="btn btn-outline-dark back-btn" href="/admin-companies/home"> <fa-icon [icon]="faArrowLeft"></fa-icon> </a>
    <a class="navbar-brand" href="/admin-companies/home">
        <img src="/assets/img/logo-color-resize.png" alt="" width="150">
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed =! isMenuCollapsed">
        <span class="toggler-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
    </button>
 
   <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block ml-auto ">
                <button class="btn btn-outline-dark save-btn" (click)="open(saveTemplate, '')">Guardar</button>
            </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper d-flex">
      <div class="sideMenu bg-dark" [ngClass]="{'display-sidemenu': isSidebarCollapsed==false, 'hide-sidemenu': isSidebarCollapsed==true}">
          <div class="sidebar">
              <p>
                <button type="button" class="btn collapse-btn" (click)="isCollapsed = !isCollapsed" style="width: 100%; border-top:1px solid rgb(177, 177, 177)"> 
                  <div class="d-flex">
                    Bloques de contenido  
                    <fa-icon [icon]="faChevronDown" class="arrow-icon"></fa-icon></div>
                </button>
              </p>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="max-height: 70vh; overflow-y: scroll;">
                <div class="card" *ngFor="let bloque of bloques; index as i">
                  <div class="card-body d-flex">
                    <label for="" class="form-label mb-auto mt-auto">Bloque {{i+1}}</label>
                    <div class="ml-auto">
                      <button type="button" class="btn btn-outline-dark" (click)="open(editBlock, i+1)"> <fa-icon [icon]="farEdit"></fa-icon> </button>
                      <button type="button" class="btn btn-outline-danger" (click)="open(deleteBlock, i+1)"> <fa-icon [icon]="farTrashAlt"></fa-icon> </button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card">
                  <div class="card-body ml-auto mr-auto">
                    <label for="staticEmail" class="col-sm-12 form-label mb-3 mt-auto" style="text-align: center;">Adaptabilidad de pantalla</label>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas muy pequeñas</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.xs" [value]="adaptabilidad.xs">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas pequeñas</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.sm" [value]="adaptabilidad.sm">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas medianas</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.md" [value]="adaptabilidad.md">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas grandes</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.lg" [value]="adaptabilidad.lg">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas muy grandes</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.xl" [value]="adaptabilidad.xl">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-6 form-label mb-auto mt-auto">Height (px) </label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" [(ngModel)]="adaptabilidad.height" [value]="adaptabilidad.height">
                      </div>
                    </div>
                    <div style="text-align: center;">
                      <button type="button" class="btn btn-outline-dark" (click)="agregarBloque()"> <fa-icon [icon]="faPlus"></fa-icon> Agregar bloque</button>
                    </div>
                  </div>
                </div>
              </div>
              <p>
                <button type="button" class="btn collapse-btn" (click)="isCollapsed2 = !isCollapsed2" style="width: 100%;">
                    <div class="d-flex">
                        Plantillas  
                    <fa-icon [icon]="faChevronDown" class="arrow-icon"></fa-icon></div>
                </button>
              </p>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2" style="height: 300px; overflow-y: scroll;">
                <div class="card mb-3" *ngIf="plantillaSeleccionada.length!=0">
                  <div class="card-body d-flex">
                    <label for="" class="form-label mb-auto mt-auto">Plantilla {{plantillaSeleccionada.tituloTema}}</label>
                    <div class="ml-auto">
                      <button type="button" class="btn btn-outline-dark" (click)="open(editBlockPlantilla, '')"> <fa-icon [icon]="farEdit"></fa-icon> </button>
                      <button type="button" class="btn btn-outline-danger" (click)="open(deleteBlockPlantilla, '')"> <fa-icon [icon]="farTrashAlt"></fa-icon> </button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card" *ngFor="let plantilla of plantillas">
                  <div class="card-body">
                    <h5 class="card-title">{{plantilla.tituloTema}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{plantilla._id}}</h6>
                    <p class="card-text">{{plantilla.descripcion}}</p>
                    <a class="btn btn-outline-dark" (click)="usarPlantilla(plantilla)">Usar</a>
                  </div>
                </div>
              </div>
              
          </div>
      </div>
      <iframe class="content col-xl-9 col-lg-8 col-md-12 ml-auto " id="content" frameborder="0" style="width: 100%;">
        <div class="container-fluid">
          <div class="row" id="contenido" frameborder="0">
          </div>
        </div>
      </iframe>
  </div>

  <ng-template #editBlock let-modal>
    <div class="modal-body" style="height: 600px; overflow-y: scroll;">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1" class="custom-li">
          <a ngbNavLink class="custom-link">Froala Editor</a>
          <ng-template ngbNavContent>
            <p class="card-text">Agrega contenido a tu página con el editor Froala. Lo que escribas en el editor será añadido en el archivo de texto</p>
            <div [froalaEditor] [(froalaModel)]="editorContent"></div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="custom-li">
          <a ngbNavLink class="custom-link">Editor HTML & CSS</a>
          <ng-template ngbNavContent>
            <p class="card-text">Puedes agregar contenido de HTML puro en tu bloque de contenido. También puedes agregar CSS.</p> 
            <hr>
            <h5>HTML</h5>
            <ngx-monaco-editor class="htmlPart" [options]="editorOptions[0]" [(ngModel)]="codeHTML">
            </ngx-monaco-editor>
            <h5>CSS</h5>
            <ngx-monaco-editor class="htmlPart" [options]="editorOptions[1]" [(ngModel)]="codeCSS">
            </ngx-monaco-editor>
                 
          </ng-template>
        </li>
        <li [ngbNavItem]="3" class="custom-li">
          <a ngbNavLink class="custom-link">Adaptabilidad</a>
          <ng-template ngbNavContent>
            <div class="card">
              <div class="card-body ml-auto mr-auto">
                <label for="staticEmail" class="col-sm-12 form-label mb-3 mt-auto" style="text-align: center;">Adaptabilidad de pantalla</label>
                <div class="mb-3 row">
                  <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas muy pequeñas</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.xs" [value]="adaptabilidad.xs">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas pequeñas</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.sm" [value]="adaptabilidad.sm">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas medianas</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.md" [value]="adaptabilidad.md">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas grandes</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.lg" [value]="adaptabilidad.lg">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas muy grandes</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.xl" [value]="adaptabilidad.xl">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="staticEmail" class="col-sm-6 form-label mb-auto mt-auto">Height (px) </label>
                  <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="adaptabilidad.height" [value]="adaptabilidad.height">
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="actualizarContenido()">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #deleteBlock let-modal>
    <div class="modal-body">
      ¿Está seguro/a de eliminar este bloque de contenido?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="eliminarBloque()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #editBlockPlantilla let-modal>
    <div class="modal-body" style="height: 600px; overflow-y: scroll;">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1" class="custom-li">
          <a ngbNavLink class="custom-link">Editor CSS & JS</a>
          <ng-template ngbNavContent>
            <p class="card-text">Puedes editar los estilos actuales de la plantilla, cambiar colores y agregar contenido en JavaScript.</p> 
            <hr>
            <h5>CSS</h5>
            <ngx-monaco-editor class="htmlPart" [options]="editorOptions[1]" [(ngModel)]="plantillaSeleccionada.codigoCSS">
            </ngx-monaco-editor>
            <h5>JS</h5>
            <ngx-monaco-editor class="htmlPart" [options]="editorOptions[2]" [(ngModel)]="plantillaSeleccionada.codigoJS">
            </ngx-monaco-editor>
                 
          </ng-template>
        </li>
      
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="actualizarPlantilla()">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #deleteBlockPlantilla let-modal>
    <div class="modal-body">
      ¿Está seguro/a de eliminar esta plantilla?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="eliminarPlantilla()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #saveTemplate let-modal>
    <div class="modal-body">
      <div class="mb-12">
        <label for="staticEmail" class="form-label mb-auto mt-auto">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="titulo">
      </div>
      <div class="mb-12">
        <label for="staticEmail" class="form-label mb-auto mt-auto">Descripcion</label>
        <textarea rows="3" style="width: 100%;" [(ngModel)]="descripcion"></textarea>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="paginaPrincipal">
        <label class="form-check-label">
          Página principal
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="visibilidad">
        <label class="form-check-label">
          Visible para los clientes
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="guardarPagina()">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>