<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="isSidebarCollapsed =! isSidebarCollapsed">
        <span class="toggler-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
      </button>
    <a class="navbar-brand" href="/company/home">
        <img src="/assets/img/logo-color-resize.png" alt="" width="150">
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed =! isMenuCollapsed">
        <span class="toggler-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
    </button>
 
   <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block ml-auto ">
                <button class="btn btn-outline-dark save-btn">Guardar</button>
            </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper d-flex">
      <div class="sideMenu bg-dark" [ngClass]="{'display-sidemenu': isSidebarCollapsed==false, 'hide-sidemenu': isSidebarCollapsed==true}">
          <div class="sidebar">
              <p>
                <button type="button" class="btn collapse-btn" (click)="isCollapsed = !isCollapsed" style="width: 100%;"> 
                  <div class="d-flex">
                    Bloques de contenido  
                    <fa-icon [icon]="faChevronDown" class="arrow-icon"></fa-icon></div>
                </button>
              </p>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="max-height: 70vh; overflow-y: scroll;">
                <div class="card" *ngFor="let bloque of bloques; index as i">
                  <div class="card-body d-flex">
                    <label for="" class="form-label mb-auto mt-auto">Bloque {{i+1}}</label>
                    <div class="ml-auto">
                      <button type="button" class="btn btn-outline-dark" (click)="open(editBlock, i+1)"> <fa-icon [icon]="farEdit"></fa-icon> </button>
                      <button type="button" class="btn btn-outline-danger" (click)="open(deleteBlock, i+1)"> <fa-icon [icon]="farTrashAlt"></fa-icon> </button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card">
                  <div class="card-body ml-auto mr-auto">
                    <label for="staticEmail" class="col-sm-12 form-label mb-3 mt-auto" style="text-align: center;">Adaptabilidad de pantalla</label>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas muy pequeñas</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.xs" [value]="adaptabilidad.xs">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas pequeñas</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.sm" [value]="adaptabilidad.sm">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas medianas</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.md" [value]="adaptabilidad.md">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas grandes</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.lg" [value]="adaptabilidad.lg">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-8 form-label mb-auto mt-auto">Pantallas muy grandes</label>
                      <div class="col-sm-4">
                        <input type="number" class="form-control" min="0" max="12" [(ngModel)]="adaptabilidad.xl" [value]="adaptabilidad.xl">
                      </div>
                    </div>
                    <div style="text-align: center;">
                      <button type="button" class="btn btn-outline-dark" (click)="agregarBloque()"> <fa-icon [icon]="faPlus"></fa-icon> Agregar bloque</button>
                    </div>
                    
                  </div>
                </div>
              </div>
              <p>
                <button type="button" class="btn collapse-btn" (click)="isCollapsed2 = !isCollapsed2" style="width: 100%;">
                    <div class="d-flex">
                        Plantillas  
                    <fa-icon [icon]="faChevronDown" class="arrow-icon"></fa-icon></div>
                </button>
              </p>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                <div class="card">
                  <div class="card-body">
                    You can collapse this card by clicking Toggle
                  </div>
                </div>
              </div>
              <p>
                <button type="button" class="btn collapse-btn" (click)="isCollapsed3 = !isCollapsed3" style="width: 100%;">
                    <div class="d-flex">
                        Configuraciones  
                    <fa-icon [icon]="faChevronDown" class="arrow-icon"></fa-icon></div>
                </button>
              </p>
              <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
                <div class="card">
                  <div class="card-body">
                    You can collapse this card by clicking Toggle
                  </div>
                </div>
              </div>

          </div>
      </div>
      <div class="content" style="width: 100%;">
        <div class="container-fluid">
          <div class="row ml-auto" id="content">
          </div>
      </div>
      </div>
  </div>

  <ng-template #editBlock let-modal>
    <div class="modal-body">
      <div [froalaEditor] [(froalaModel)]="editorContent"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>

  <ng-template #deleteBlock let-modal>
    <div class="modal-body">
      ¿Está seguro/a de eliminar este bloque de contenido?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="eliminarBloque()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
