<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-white.png" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#inicio">INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vende">VENDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#compra">COMPRA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#acercaDe" tabindex="-1">ACERCA DE</a>
        </li>
        <li class="nav-item">
          <a id="login" class="nav-link" href="" tabindex="-1">INICIA SESIÓN</a>
        </li>
        <li class="nav-item">
          <a id="register"class="nav-link" href="" tabindex="-1">REGISTRARSE</a>
        </li>
      </ul>
    </div>
  </nav>

<!--Sections-->

<section id="inicio" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 texto-inicio">
        <section>
          <span>CREA TU PROPIO ECOMMERCE</span> <br>
          <span style="font-size: 1.8rem;">Y ABRE UN MUNDO DE POSIBILIDADES</span> <br>
          <span>PARA TU NEGOCIO</span>
        </section>
        <div class="botones-inicio">
          <a class="boton">Crea una tienda</a> 
          o
          <a id="accede-tienda">Accede a tu tienda</a>
        </div>
      </div>
      <div class="col-xl-6">
        <img id="img-inicio"src="/assets/img/custom-web2.png">
      </div>
    </div>
  </div>

</section>
<section id="vende" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <img src="/assets/img/custom-vende.png"id="img-vende">
      </div>
      <div class="col-xl-5 texto-vende">
        <section>
          <h1>¡Vende tus productos!</h1>
          <p>
            Con Customize puedes crear un ecommerce para tu empresa sin importar el producto que vendas. <br> Además, puedes personalizarlo a tu gusto.
          </p>
        </section>
        <a routerLink="/vende" class="ver-mas-btn">Ver más</a>
      </div>
    </div>
  </div>
 
</section>
<section id="compra" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 texto-compra">
        <section>
          <h1>¡Compras y más compras!</h1>
          <p>
            ¿Sabías que en Customize puedes realizar compras a los negocios afiliados?
          </p>
        </section>
        <a routerLink='/compra' class="ver-mas-btn">Ver más</a>
      </div>
      <div class="col-xl-6">
        <img src="/assets/img/custom-compra.png" id="img-compra">
      </div>
    </div>
  </div>

</section>
<section id="acercaDe" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6" id="desc-acercaDe">
        <p>Customize surge en 2020 como proyecto de la clase de Desarrollo Web. El objetivo es crear una plataforma de comercio electrónico completamente funcional</p>
      </div>
    </div>
  </div>
  <div id="slogan">
    <span>Make it cool, make it</span>
    <img src="/assets/img/logo-color.png" alt="" id="logo-color">
  </div>
</section>

</body>