<app-navbar></app-navbar>
<body>
  
<!--Sections-->

<section id="inicio" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-sm-12 texto-inicio">
        <section>
          <span>CREA TU PROPIO ECOMMERCE</span> <br>
          <span style="font-size: 30px;">y abre un mundo de posibilidades para tu negocio</span>
        </section>
        <div class="botones-inicio">
          <a id="btn-crea-tienda" class="boton" href="/company/register">Crea una tienda</a> 
          <div class="accede-tienda">
            o   
            <a id="accede-tienda" href="/company/login">Accede a tu tienda</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-12">
        <img id="img-inicio"src="/assets/img/custom-web2.png">
      </div>
    </div>
  </div>

</section>
<section id="vende" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <img src="/assets/img/custom-vende.png" id="img-vende">
      </div>
      <div class="col-xl-5 texto-vende">
        <section>
          <h1>¡Vende tus productos!</h1>
          <p>
            Con Customize puedes crear un ecommerce para tu empresa sin importar el producto que vendas. <br> Además, puedes personalizarlo a tu gusto.
          </p>
        </section>
        <a class="ver-mas-btn" href="/vende">Ver más</a>
      </div>
    </div>
  </div>
 
</section>
<section id="compra" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 texto-compra">
        <section>
          <h1>¡Compras y más compras!</h1>
          <p>
            ¿Sabías que en Customize puedes realizar compras a los negocios afiliados?
          </p>
        </section>
        <a href='/compra' class="ver-mas-btn">Ver más</a>
      </div>
      <div class="col-xl-6">
        <img src="/assets/img/custom-compra.png" id="img-compra">
      </div>
    </div>
  </div>
</section>

<section id="acercaDe" class="items">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6" id="desc-acercaDe">
        <p>Customize surge en 2020 como proyecto de la clase de Desarrollo Web. El objetivo es crear una plataforma de comercio electrónico completamente funcional</p>
      </div>
    </div>
  </div>
  <div id="slogan">
    <span>Make it cool, make it</span>
    <img src="/assets/img/logo-color.png" alt="" id="logo-color">
  </div>
</section>

</body>