
body{
    background-color: #00bbee;
    margin: 0;
}


a{
    cursor: pointer;
}

.items{
    min-height: 100vh;
    padding: 4rem 2rem;
}


#img-inicio, #img-vende, #img-compra{
    width: 100%;
    margin-top: 5%;
}

#img-vende{
    margin-left: 7%;
}

#img-compra{
    bottom: 0;
}

#register{
    background-color: white;
    color: #94d12e !important;
    padding: 8px 15px;
    border-radius: 30px;
}

.texto-inicio{
    margin:auto;
    padding-left: 5%;
}

.texto-inicio section{
    color: white;
    font-family: "Raleway medium";
    font-size: 3rem;
}

.botones-inicio{
    margin-top: 15px;
    color: white;
    font-size: 1.3rem;
}

.boton{
    background-color: #94d12e;
    color: white !important;
    font-family: "Raleway semibold";
    
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
}

#accede-tienda{
    color: white !important;
    font-family: "Raleway medium";
}

#vende{
    background-image: url("/assets/img/decos5.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.texto-vende, .texto-compra{
    margin:auto;
    font-family: "Raleway medium";
    font-size: x-large;
    color: white;
    padding-left: 5%;
}


.texto-vende h1, .texto-compra h1{
    font-family: "Raleway bold";
    font-size: 50px;
}
#compra{
    background-position: top;
    background-image: url("/assets/img/decos3.png");
    background-repeat: no-repeat;
}

#acercaDe{
    background-image: url("/assets/img/decos4.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.ver-mas-btn{
    background-color: #94d12e;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}

#logo-color{
    width: 100%;
}

#desc-acercaDe{
    padding-left: 5%;
    margin-top: 15%;
    color: white;
    font-family: 'Raleway medium';
    font-size: 25px;
}
#slogan{
    color: white;
    font-family: "Raleway semibold";
    font-size: 35px;
    position: static;
    margin-left: auto;
    margin-top: 10%;
    margin-right: 7%;
    width: 25%;
}