body{
    margin:0;
}

.btn{
    color: white !important;
    font-family: 'Raleway medium' !important;
    margin-left: 5px;
    margin-right: 5px;
}

.btn:hover{
    border: 1px solid #00bbee !important;
    color: #00bbee !important;
    background-color: transparent;
}

.content{
    min-height: 100vh;
    padding: 5rem 1rem 0 1rem;
}

.custom-link{
    font-family: 'Raleway medium' !important;
    font-size: 1.2rem !important;
    color: white !important;
}

.custom-link:hover{
    color: #00bbee !important;
}

.custom-nav{
    position: fixed;
    z-index: 1200;
    width: 100%;
}

.edit-area{
    color: black;
    font-family: 'Raleway semibold';
    background-color:  white;
}

#editorPreview{
    overflow-y: scroll;
    width: 100%;
    min-height: 80vh;
    border: 1px solid #dee2e6;

}

.htmlPart{
    min-height: 50vh;
}

h3{
    color: #00bbee;
}

#logo{
    width: 100px;
}

#navbar{
    justify-content: flex-end;
}

.navbar{
    background-color: #343A40 !important;
}

.nav-link{
    color: white !important;
    font-family: 'Roboto' !important;
}

.nav-link:hover{
    cursor: pointer;
    color: #00bbee !important;
}

.nav-link .active{
    color: #00bbee !important;
}

.nav-item{
    color: #00bbee !important;
}

.navbar-toggler{
    color: white !important;
}

.navbar-toggler-icon{
    color: white !;
}

