
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 custom-nav">
    <a class="navbar-brand" href="/admin/home">
        <img src="/assets/img/logo-puzzle.png" width="35" height="35" alt="" loading="lazy">
      </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbar" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn my-2 my-sm-0" type="button" (click)="nuevaPlantilla()">
                    <fa-icon [icon]="faPlus"></fa-icon> Nueva plantilla</button>
            </li>
            <li class="nav-item">
                <button class="btn my-2 my-sm-0" type="button" (click)="preview()">
                    <fa-icon [icon]="faEye"></fa-icon> Previsualizar</button>
            </li>
            <li class="nav-item">
                <button class="btn my-2 my-sm-0" type="button" (click)="open(Images)">
                <fa-icon [icon]="faImages"></fa-icon> Imágenes</button>
            </li>
            <li class="nav-item">
                <button class="btn my-2 my-sm-0" type="button" (click)="open(editPlantilla)"> <fa-icon [icon]="faEdit"></fa-icon> Editar</button>
            </li>
            <li class="nav-item">
                <button class="btn my-2 my-sm-0" type="button" (click)="open(addPlantilla)">Guardar</button>
            </li>
        </ul>
    </div>
  </nav>
<div class="container-fluid">
    <div class="row"> 
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 content">
            <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>HTML</a>
                <ng-template ngbNavContent>
                    <ngx-monaco-editor class="htmlPart" [options]="editorOptions[0]" [(ngModel)]="codeHTML">
                    </ngx-monaco-editor>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>CSS</a>
                <ng-template ngbNavContent>
                    <ngx-monaco-editor class="htmlPart" [options]="editorOptions[1]" [(ngModel)]="codeCSS">
                    </ngx-monaco-editor>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>JS</a>
                <ng-template ngbNavContent>
                    <ngx-monaco-editor class="htmlPart" [options]="editorOptions[2]" [(ngModel)]="codeJS">
                    </ngx-monaco-editor>
                </ng-template>
            </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2 editores"></div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 content">
            <h3>Previsualización</h3>
                <iframe id="editorPreview" frameborder="0"></iframe>
        </div>
    </div>
</div>

 <!--Modal para guardar plantilla -->
 <ng-template #addPlantilla let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar plantilla</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="error" *ngIf="errorBool">{{errorMessage}}</div>
        <div class="success" *ngIf="successBool">{{successMessage}}</div>
            <div class="div-media">
                <div class="form-group col-12">
                    <label class="form-label">Título del tema</label>
                    <input class="form-control" type="text" placeholder="Título" [(ngModel)]="plantilla.tituloTema" [value]="plantilla.tituloTema">
                </div>
                <div class="form-group col-12">
                    <label class="form-label">Descripcion</label>
                    <textarea class="form-control" rows="3" placeholder="Descripcion" [(ngModel)]="plantilla.descripcion" [value]="plantilla.descripcion">
                    </textarea>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn my-2 my-sm-0 btn-outline-dark" type="button" (click)="agregarPlantilla()">Guardar</button>
        <button class="btn my-2 my-sm-0 btn-outline-dark" type="button" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

  <!--Modal para editar plantilla -->
 <ng-template #editPlantilla let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Buscar plantilla</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="error" *ngIf="errorBool">{{errorMessage}}</div>
        <div class="success" *ngIf="successBool">{{successMessage}}</div>
            <div class="div-media">
                <div class="form-group col-12">
                    <label class="form-label">Ingrese el ID de la plantilla</label>
                    <input class="form-control" type="text" placeholder="Id plantilla" [(ngModel)]="idPlantilla" [value]="idPlantilla">
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn my-2 my-sm-0 btn-outline-dark" type="button" (click)="obtenerPlantilla()">Obtener plantilla</button>
        <button class="btn my-2 my-sm-0 btn-outline-dark" type="button" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

   <!--Modal para guardar plantilla -->
 <ng-template #Images let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar plantilla</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            <h5>Imágenes de plantilla</h5> <br>
            <span *ngIf="plantilla.imagenes.length == 0">Aún no se han cargado imágenes para esta plantilla.</span>
            <div class="images-display" *ngIf="plantilla.imagenes.length > 0">
                <div class="card mb-4" style="width: 100%;"  *ngFor="let imagen of plantilla.imagenes; index as i">
                    <div class="row no-gutters">
                      <div class="col-md-4 col-sm-4 col-4">
                        <img [src]="'http://localhost:8888/' + imagen.urlImagen" class="card-img" id="uploaded-img" alt="...">
                      </div>
                      <div class="col-md-8 col-sm-8 col-8">
                        <div class="card-body">
                          <h5 class="card-title">Insertar en HTML como:</h5>
                            <small class="card-text">
                                &lt;img src="http://localhost:8888/{{imagen.urlImagen}}" alt=""&gt;
                            </small>
                            <div class="del-btn">
                                <button class="btn btn-outline-dark" (click)="eliminarImagen(imagen._id, i)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h5>Subir imagen</h5>
            <div class="add-image">
                <div class="display-images">
                    <input type="file" class="d-none" #photoInput (change)="onPhotoSelected($event)">
                    <img src="/assets/img/no-image.png" alt="No image" id="add-image-file" (click)="photoInput.click()">
                </div>
                <button class="btn btn-outline-dark" (click)="photoInput.click()">Seleccionar imagen</button>
                <button class="btn btn-outline-dark" (click)="subirFoto()">Subir imagen</button>
            </div>
        </div>
    </div>
  </ng-template>

  
<!--
<h1>Prueba</h1>

-->