<div class="container">
    <div class="row">
            <div class="col-xl-6">
                <h1>HTML</h1>
                    <ngx-monaco-editor id="html-part" [options]="editorOptions2" [(ngModel)]="codeHTML" (change)="update()" style="min-height: 100vh;">
                    </ngx-monaco-editor>
            </div>
            <div class="col-xl-6">
                <h1>Preview</h1>
                    <iframe id="editorPreview" frameborder="0" style="min-height: 100vh; width: 100%;"></iframe>
            </div>
    </div>
</div>
