<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="isSidebarCollapsed =! isSidebarCollapsed">
        <span class="toggler-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
      </button>
    <a class="navbar-brand" href="/company/home">
        <img src="/assets/img/logo-color-resize.png" alt="" width="150">
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed =! isMenuCollapsed">
        <span class="toggler-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
    </button>
  
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block ml-auto ">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>HOLA, {{nombreEmpresa}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-dark dropdown-style dropdown-menu-right">
                  <button ngbDropdownItem (click)="isMenuCollapsed = true"> <fa-icon [icon]="farUser"></fa-icon> MI PERFIL</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem (click)="isMenuCollapsed = true" (click)="logout()"> <fa-icon [icon]="faSignOutAlt"></fa-icon> CERRAR SESIÓN </button>
                </div>
            </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper d-flex">
      <div class="sideMenu bg-dark" [ngClass]="{'display-sidemenu': isSidebarCollapsed==false, 'hide-sidemenu': isSidebarCollapsed==true}">
          <div class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item-custom" (click)="seccionVisible('inicio')">
                    <a class="nav-link">
                        <div class="icon">
                            <fa-icon  [icon]="faHome"></fa-icon>
                        </div>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="nav-item-custom" (click)="seccionVisible('banco')">
                    <a class="nav-link">
                        <div class="icon">
                            <fa-icon  [icon]="farFile"></fa-icon>
                        </div>
                        <span class="text">Archivos</span>
                    </a>
                </li>
                <li class="nav-item-custom" (click)="seccionVisible('categorias')">
                    <a class="nav-link">
                        <div class="icon">
                            <fa-icon  [icon]="faList"></fa-icon>
                        </div>
                        <span class="text">Categorías</span>
                    </a>
                </li>
                <li class="nav-item-custom" (click)="seccionVisible('productos')">
                    <a class="nav-link">
                        <div class="icon">
                            <fa-icon  [icon]="faTag"></fa-icon>
                        </div>
                        <span class="text">Productos</span>
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item-custom" (click)="seccionVisible('tienda')">
                    <a class="nav-link">
                        <div class="icon">
                            <fa-icon  [icon]="faStore"></fa-icon>
                        </div>
                        <span class="text">Mi tienda</span>
                    </a>
                </li>
                            
            </ul>
            <ul class="navbar-nav" style="position: absolute; bottom:0; width: 100%;">
                <li class="nav-item-custom" (click)="seccionVisible('configuraciones')" style="padding:0;">
                    <a class="nav-link" style="width: 100%;">
                        <div class="icon icon-config">
                            <fa-icon  [icon]="faCog"></fa-icon>
                        </div>
                        <span class="text">Configuraciones</span>
                    </a>
                </li>
            </ul>
          </div>
      </div>
      <div class="content">
          <div class="container-fluid">
              <div class="row mr-auto">
                  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 mr-auto ml-auto" [ngClass]="{'visible': regionVisible=='inicio', 'noVisible': regionVisible != 'inicio'}">
                      <app-inicio-tiendas (onSeccionSeleccionada)="seccionVisible($event)"></app-inicio-tiendas>
                  </div>
                  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 mr-auto ml-auto" [ngClass]="{'visible': regionVisible=='banco', 'noVisible': regionVisible != 'banco'}">
                      <app-banco></app-banco>
                  </div>
                  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 mr-auto ml-auto" [ngClass]="{'visible': regionVisible=='categorias', 'noVisible': regionVisible != 'categorias'}">
                      <app-categorias></app-categorias>
                  </div>
                  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 mr-auto ml-auto" [ngClass]="{'visible': regionVisible=='productos', 'noVisible': regionVisible != 'productos'}">
                      <app-productos></app-productos>
                  </div>
                  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 mr-auto ml-auto" [ngClass]="{'visible': regionVisible=='tienda', 'noVisible': regionVisible != 'tienda'}">
                      <app-tiendas></app-tiendas>
                  </div>
                  <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 mr-auto ml-auto" [ngClass]="{'visible': regionVisible=='configuraciones', 'noVisible': regionVisible != 'configuraciones'}">
                    <app-config-tiendas></app-config-tiendas>
                </div>
              </div>
          </div>
      </div>
  </div>