<body>
    <section id="compra" class="items">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 texto-compra">
              <section>
                <h1>¡Compras y más compras!</h1>
                <p>
                  Descubre las tiendas que tenemos para ti y realiza tus compras en un solo clic.
                </p>
              </section>
            </div>
            <div class="col-xl-6">
              <img src="/assets/img/custom-compra.png" id="img-compra">
            </div>
          </div>
        </div>
      </section>
</body>
