<app-navbar></app-navbar>
<body>
    <section id="compra" class="items">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 texto-compra">
              <section>
                <h1>¡Compras y más compras!</h1>
                <p>
                  ¿Ya conoces las tiendas que tenemos para ti? ¡Son geniales! <br>
                  Realiza tus compras en un solo clic, sin salir de casa. <br> 
                </p>
                <a href='/registro' class="ver-mas-btn">Registrarme</a>
              </section>
            </div>
            <div class="col-xl-6">
              <img src="../../../assets/img/custom-compra.png" id="img-compra">
            </div>
          </div>
        </div>
      </section>
      <section id="afiliados" class="items">
        <h1>Algunos de nuestros afiliados</h1>
          <div class="container">
              <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card tiendas">
                        <img src="../../../assets/img/shoes.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Shoes store</h5>
                          <p class="card-text">¡Los mejores zapatos los encuentras aquí!</p>
                          <a href="#" class="ir-tienda-btn">Ver tienda</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card tiendas">
                        <img src="../../../assets/img/stationary.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Stationary paradise</h5>
                          <p class="card-text">Todo la papelería que puedas imaginar y más</p>
                          <a href="#" class="ir-tienda-btn">Ver tienda</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card tiendas">
                        <img src="../../../assets/img/gym-stuff.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Gym equipment</h5>
                          <p class="card-text">Best equipment with the best prices.</p>
                          <a href="#" class="ir-tienda-btn">Ver tienda</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="card tiendas">
                        <img src="../../../assets/img/clothes.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Basics heaven</h5>
                          <p class="card-text">Tu closet siempre necesitará más basics.</p>
                          <a href="#" class="ir-tienda-btn">Ver tienda</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</body>
