<div id="section-admins">
    <div class="header-section">
        <h3>Cambiar contraseña</h3>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xl-12" style="text-align: center; margin-bottom: 10px;">
                <span class="error" *ngIf="errorBool">{{errorMessage}}</span>
                <span class="success" *ngIf="successBool">{{successMessage}}</span>
            </div>
            <div class="col-xl-6">
                <form [formGroup]="cambioContrasenia">
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label">Contraseña anterior</label>
                      <div class="col-sm-6">
                        <input type="password" class="form-control" formControlName="contraseniaAnterior">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">Nueva contraseña</label>
                        <div class="col-sm-6">
                          <input type="password" class="form-control" formControlName="contraseniaAdmin">
                        </div>
                      </div>
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label">Confirmar contraseña</label>
                      <div class="col-sm-6">
                        <input type="password" class="form-control" formControlName="confirmarContrasenia">
                      </div>
                    </div>
                </form>
                <div style="text-align: center;">
                    <button class="btn button btn-outline-dark" type="button" (click)="actualizarContrasenia()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
