.button{
    text-align: right;
}

#header{
    font-family: 'Raleway medium';

}

#header h6{
    text-align: center;
}


h1{
    font-family: 'Raleway semibold';
    color: #00bbee;
}

h6{
    font-family: 'Raleway semibold';
}


