@media only screen and (max-width: 768px) {
    .div-media {
      display: block !important;
    }
  }

a{
    color: #00bbEE !important;
}

a:hover{
    color: #94d12e !important;
}

h1{
    color: #00bbee;
    font-family: 'Raleway black';
}

form{
    margin-top: 1.5rem;
}

.register-btn{
    background-color: #94d12e;
    color: white;
    font-family: 'Raleway semibold';
    padding: 0.5rem 3rem;
    border: 3px solid transparent;
    border-radius: 30px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.register-btn:hover{
    background-color: transparent;
    border: 3px solid #94d12e;
    color: #94d12e
}

.register-section{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway medium';
}

.register-section h1{
    text-align: center;
}

.register-section .register-section-btn{
    text-align: center;
}