<div id="content">
    <div class="w-100 d-flex">
        <h1>Categorías</h1>
        <div class="ml-auto mt-auto mb-auto">
            <button class="btn btn-outline-primary">
                <fa-icon [icon]="faPlus"></fa-icon> 
                Añadir categoría</button>
        </div>
    </div>
    <hr>
    <table class="w-100">
        <tr>
            <th>ID</th>
            <th>Categoría</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>