<div id="content">
    <div class="w-100 d-flex">
        <h1>Categorías</h1>
        <div class="ml-auto mt-auto mb-auto">
            <button class="btn btn-outline-primary" (click)="open(addCategory)">
                <fa-icon [icon]="faPlus"></fa-icon> 
                Añadir categoría</button>
        </div>
    </div>
    <hr>
    <small *ngIf="categorias.length==0">No hay ninguna categoría registrada.</small>
    <table class="w-100" *ngIf="categorias.length != 0">
        <tr>
            <th>ID</th>
            <th>Categoría</th>
        </tr>
        <tr *ngFor="let categoria of categorias">
            <td>{{categoria._id}}</td>
            <td>{{categoria.nombre}}</td>
            <td (click)="borrarCategoria(categoria._id)" style="cursor:pointer" class="error"><fa-icon [icon]="faTimes"></fa-icon></td>
        </tr>
    </table>
</div>

<ng-template #addCategory let-modal>
    <div class="modal-body">
      <h4 class="modal-title" id="modal-basic-title">Nueva categoría</h4>
      <div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-sm-12 col-form-label">Nombre de categoría</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" [(ngModel)]="nombre" [value]="nombre">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="agregarCategoria()">Agregar</button>
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>