<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink='/'>
      <img src="/assets/img/logo-white.png" id="logo">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
      <fa-icon [icon]="faBars" style="color: white"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href='/'>INICIO<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/vende'>VENDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/compra'>COMPRA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#acercaDe" tabindex="-1">ACERCA DE</a>
        </li>
        <li class="nav-item"><div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button id="login" class="btn nav-link" ngbDropdownToggle>INICIAR SESIÓN</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>
              <a class="nav-link" href="/loginUser">Comprador</a>
            </button>
            <button ngbDropdownItem>
              <a class="nav-link" href="/loginBrand">Vendedor</a>
            </button>
          </div>
          </div>
         <!-- <a id="login" class="nav-link"  tabindex="-1">INICIA SESIÓN</a> -->
        </li>
        <li class="nav-item">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button id="register" class="btn nav-link" ngbDropdownToggle>REGISTRARSE</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem>Comprador</button>
              <button ngbDropdownItem>Vendedor</button>
            </div>
          </div>
           <!-- <a id="register"class="nav-link"  tabindex="-1">REGISTRARSE</a> -->
        </li>
      </ul>
    </div>
  </nav>
