<div id="section-admins">
    <div class="header-section">
        <h3>Administradores</h3>
        <button class="button" (click)="open(content)">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            Agregar admin
        </button>
    </div>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody *ngFor="let admin of admins">
            <tr>
                <td>{{admin.nombreAdmin}} {{admin.apellidoAdmin}}</td>
                <td>{{admin.correoAdmin}}</td>
                <td>{{admin.estado}}</td>
                <td> 
                    <a class="button" title="Editar" (click)="editarAdmin(admin._id)">
                        <fa-icon [icon]="faUserEdit"></fa-icon>
                    </a>
                </td>
                <td>
                    <a class="button" title="Eliminar" (click)="eliminarAdmin(admin._id)">
                        <fa-icon [icon]="faUserTimes"></fa-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row">
        <ng-template #content let-modal class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-10" id="modal-addAdmin">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Agregar nuevo administrador</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="error" *ngIf="errorBool">{{errorMessage}}</div>
                <div class="success" *ngIf="successBool">{{successMessage}}</div>
                <form [formGroup]="formularioRegistroAdmins">
                    <div class="div-media">
                        <div class="form-group col-12">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" placeholder="Nombre" formControlName="nombreAdmin" required>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Apellido</label>
                            <input  class="form-control" type="text" placeholder="Apellido" formControlName="apellidoAdmin" required>
                        </div>
                    </div>
                    <div class="div-media">
                        <div class="form-group col-12">
                            <label class="form-label">Correo electrónico</label>
                            <input  class="form-control" type="text" placeholder="Correo electrónico" formControlName="correoAdmin" required>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Confirmar correo electrónico</label>
                            <input  class="form-control" type="text" placeholder="Confirmar correo electrónico" formControlName="confirmarCorreo" required>
                        </div>
                    </div>
                    <div class="div-media">
                        <div class="form-group col-12">
                            <label class="form-label">Contraseña</label>
                            <input  class="form-control" type="password" placeholder="Contraseña" formControlName="contraseniaAdmin" required>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Confirmar contraseña</label>
                            <input  class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="confirmarContrasenia" required>
                        </div>
                    </div>       
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="agregarAdmin()">Guardar</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
            </div>
          </ng-template>
    </div>
</div>