<div id="section-planes">
    <div class="header-section">
        <h3>Plantillas</h3>
        <a class="button"  href="/admin/editor">
            <fa-icon [icon]="faEdit"></fa-icon>
            Ir al editor
        </a>
    </div>
    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 cards-div" *ngFor="let plantilla of plantillas">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{plantilla.tituloTema}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted"> {{plantilla._id}} </h6>
                      
                      <span class="card-text"> {{plantilla.descripcion}} </span>
                      <div class="buttons-section">
                        <button class="btn button2" (click)="open(deleteTemplate, plantilla._id)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Modal para eliminar plantilla -->
<ng-template #deleteTemplate let-modal class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-xs-10" id="modal-addAdmin">
    <div class="modal-body">
        ¿Está seguro/a de eliminar esta plantilla? <br>
        Una vez eliminado, toda su información se borrara del sistema.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="eliminarPlantilla()">Eliminar plantilla</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>