
.custom-link{
    font-family: 'Raleway medium' !important;
    font-size: 1.2rem !important;
    color: white !important;
}

.custom-link:hover{
    color: #00bbee !important;
}

.icon{
    width: 30px;
    font-size:1.3rem;
    margin-right: 10px;
}

#logo{
    padding-right: 10px;
    padding-top: 2px;
    width: 100%;
}

.nav-link{
    display:flex;
}

#sidebar{
    background-color: rgb(41, 41, 43) !important;
    min-height: 100vh;
    padding: 3.5rem 20px 0 40px;
}

hr{
    background-color: white !important;
}

