
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link custom-link" (click)="catSeleccionada('administradores')">
                        <div class="icon"><fa-icon [icon]="faUserShield"></fa-icon></div> 
                        Administradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" (click)="catSeleccionada('empresas')">
                        <div class="icon"><fa-icon [icon]="faHandshake"></fa-icon></div>
                        Empresas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" (click)="catSeleccionada('planes')">
                        <div class="icon"><fa-icon [icon]="faClipboard"></fa-icon></div>
                        Planes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" (click)="catSeleccionada('plantillas')">
                        <div class="icon"><fa-icon [icon]="faCode"></fa-icon></div>
                        Plantillas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" (click)="catSeleccionada('configuraciones')">
                        <div class="icon"><fa-icon [icon]="faTools"></fa-icon></div>
                        Configuraciones</a>
                </li>
            </ul>
        </div>