
.custom-link{
    font-family: 'Raleway medium' !important;
    font-size: 1.2rem !important;
    color: white !important;
}

.custom-link:hover{
    color: #00bbee !important;
}

.icon{
    width: 30px;
    font-size:1.3rem;
    margin-right: 10px;
}

#logo{
    width: 100%;
}


.nav-link{
    display:flex;
}

#sidebar{
    background-color: #343A40 !important;
    width: 14rem;
    min-height: 100vh;
    transition: margin .25s ease-out;
}

#sidebar{
    padding-top: 1.5rem;
    padding-bottom: 0;
    font-size: 1.2rem;
}

hr{
    background-color: white !important;
    margin-right: 1rem !important;
}


